<!DOCTYPE html>
<form class="form-save-selection">
    <div class="form-group form-group-sm">
        <input type="text" class="form-control input-sm input-save-url" value="<%= url %>">
    </div>
    <span class="info help-block">
        <%= saveSelectionText %>.
    </span>
</form>
